<div class="navigation">
    <a href="/">
        <div class="logo">
            <img src="/images/logo.png" alt="logo v"  width="36" height="36">
        </div>
    </a>
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
    </div>
</div>