<div class="about">
    <h1><%= title %></h1>
    <div class="about-content">
      <div class="about-image">
        <img src="/images/headshot.jpg" alt="headshot" />
      </div>
      <div class="about-info">
        <p>Hello, my name is Ebenezer Chijoke, and I am a student of Software Engineering Technician at Centennial College. I have been a Front-end Developer for more than 3 years and have worked in many business areas, such as employee engagement, logistics, and cryptocurrency. At the moment, I am consolidating my software engineering skills and looking for a job in the software development field in Canada. You can refer to my <a href="/files/ebenezer.pdf">resume</a> to find out more.</p>
      </div>
    </div>
  </div>