<div class="contact">
    <h1><%= title %></h1>
    <div class="contact-content">
      <div class="contact-info">
        <h4>Email: <a href="mailto:iamvan.iyke@gmail.com">iamvan.iyke@gmail.com</a></h4>
        <h4>Twitter: <a href="https://www.twitter.com/Glowy" target="_blank" rel="noopener noreferrer">@Glowy</a></h4>
        <h4>GitHub: <a href="https://github.com/Glowy" target="_blank" rel="noopener noreferrer">Glowy</a></h4>
      </div>
      <div class="contact-form">
        <h1>Let's Talk, Let's Collaborate. Send me a Message</h1>
        <form action="">
          <label for="firstname">Firstname</label>
          <input type="text" name="firstname" placeholder="Josh">
          <label for="lastname">Lastname</label>
          <input type="text" name="lastname" placeholder="Stevens">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" placeholder="+901256789">
          <label for="email">Email Address</label>
          <input type="email" name="email" placeholder="info@example.com">
          <label for="message">Message</label>
          <textarea name="message" id="message" cols="30" rows="4" placeholder="Message"></textarea>
        </form>
        <a href="/"><button>Submit</button></a>
      </div>
    </div>
  </div>