<div class="home">
    <h1><%= title %></h1>
    <div class="home-content">
      <div class="home-content-main">
        <p><span>Hi! I'm Ebenezer</span> I am a frontend developer. I specialize in transforming intriguing designs to code. Welcome to my Portfolio. Enjoy!</p>
        <h3>
          See more <a href="/about">About</a> me.
        </h3>
      </div>
      <div class="home-content-mission">
        <h1>Mission Statement</h1>
        <p>My main goal is that any user should be able to view and interact seamlessly with the GUI. </p>
        <h3>See my <a href="/projects">Projects</a>.</h3>
      </div>
      <h3><a href="/login">Login</a> to view <a href="/contact-list">Business Contacts</a>.</h3>
    </div>
  </div>