<div class="projects">
    <h1><%= title %></h1>
    <div class="projects-content">
      <div class="project-item">
        <div class="project-image">
          <img src="/images/forkify.jpg" alt="forkify">
        </div>
        <div class="project-item-info">
          <h1>Forkify</h1>
          <p>An app allows users search for ingredients of their favorite dish.</p>
          <h4>Tools Used: HTML, CSS, JavaScript</h4>
          <a href="https://forkify-lh.netlify.app/" target="_blank" rel="noopener noreferrer">Live Demo</a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="/images/guess-my-number.jpg" alt="guess-my-number-game">
        </div>
        <div class="project-item-info">
          <h1>Guess My Number</h1>
          <p>A fun game that challenges players to find a number based on greater than or less than feedback.</p>
          <h4>Tools Used: HTML, CSS, JavaScript</h4>
          <a href="https://guess-my-number-lh.netlify.app/" target="_blank" rel="noopener noreferrer">Live Demo</a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="/images/pig-game.jpg" alt="pig-game">
        </div>
        <div class="project-item-info">
          <h1>Pig Game</h1>
          <p>A simple dice game between two players in which the player who reaches 100 points first wins the game.</p>
          <h4>Tools Used: HTML, CSS, JavaScript</h4>
          <a href="https://pig-game-lh.netlify.app/" target="_blank" rel="noopener noreferrer">Live Demo</a>
        </div>
      </div>
    </div>
  </div>