<div class="services">
    <h1><%= title %></h1>
    <div class="services-content">
      <div class="services-items">
        <div class="services-item">
          <div class="item-image">
            <img src="/images/graphic.jpg" alt="design">
          </div>
          <div class="item-info">
            <h4>UI Design</h4>
            <p>I design beautiful and user-friendly UIs. My preffered tools are Figma and AdobeXD.</p>
          </div>
        </div>

        <div class="services-item">
          <div class="item-image">
            <img src="/images/frontend.jpg" alt="frontend">
          </div>
          <div class="item-info">
            <h4>Frontend Development</h4>
            <p>I transform beautiful UIs into scalable and efficient code. The tools I use are React.js and Next.js.</p>
          </div>
        </div>

        <div class="services-item">
          <div class="item-image">
            <img src="/images/mobile.jpg" alt="mobile">
          </div>
          <div class="item-info">
            <h4>Mobile Develoment</h4>
            <p>I build usable, solid apps responsive across every devices. The tools I use are React Native and Kotlin.</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>